@{
    string companyName = "Angkasa Pura";
    if(Request.IsAuthenticated)
    {
        companyName = new BonaStoco.AP1.Web.Models.CompanyProfiles(this.Session).CompanyName;
    }
}
<h1><span style=" 
	font-size:36px;">e</span>-POS @companyName</h1>