@{
    ViewBag.Title = "Profile Perusahaan> Update Profile";
} 
@section styles
{
 <link href="@Url.Content("~/Content/CompanyProfile.css")" rel="stylesheet" type="text/css" />

}
<div>
Profil Perusahaan telah di update. @Html.ActionLink("Profil Perusahaan", "Index")
</div>
