<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BonaStoco.AP1.Web.ReportingRepository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BonaStoco.AP1.Web.ReportingRepository.Properties.Settings>
            <setting name="BonaStoco_AP1_Web_ReportingRepository_tenanws_BonastocoServices"
                serializeAs="String">
                <value>http://www.bonastoco.com/services/servicetenant.php</value>
            </setting>
        </BonaStoco.AP1.Web.ReportingRepository.Properties.Settings>
    </applicationSettings>
</configuration>