@{
    ViewBag.Title = "Sinkronisasi Barang > Result";
} 
@section styles
{
 <link href="@Url.Content("~/Content/CompanyProfile.css")" rel="stylesheet" type="text/css" />

}
<br />
<div>
Tenan berhasil di kirim !   @Html.ActionLink("Kembali ke Sinkronisasi Barang", "Index")
</div>
