@{
    ViewBag.Title = "Import group barang";
}
@section styles{
    <link href="@Url.Content("~/Content/ImportProduct/ImportProduct.css")" rel="stylesheet" type="text/css" />
}
@section scripts
{
    @Content.Script("jquery.validate.min.js", @Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", @Url)
    <script type="text/javascript">
        $(document).ready(function () {
            $('.accordion .head').click(function () {
                $(this).next().toggle('slow');
                return false;
            }).next().hide();
            $("#accordion").accordion();
            $("#importBtn").click(function () {
                $("#importBtn").val("Please wait...");
                $("#importBtn").attr("disabled", true);
                document.getElementById("loading").style.display = "inline";
                $("#ImportGroup").submit();
            });

        });
    </script>
}
<h2>Import Group Barang</h2>
@using (Html.BeginForm("UploadPartGroupForImport", "MasterData", FormMethod.Post ,new { enctype = "multipart/form-data", id = "ImportGroup" }))
{
    <input type='file' name='file' id='file' />
    <p>
        <input type="submit" value="Import" id="importBtn" />
    </p>
    
    <div id="loading">
		<div id="dialog-loader">
			<img src="@Url.Content("~/Content/images/loader-new.gif")"/>
		</div>
    </div>
}


<div id="accordion">
    <h3>File harus dalam format CSV ( namafile.csv ). Contoh format data adalah sbb:</h3>
    <div>
    <table border="1">
        <tr>
            <td>Kode</td>
            <td>,</td>
            <td>Nama</td>
        </tr>
        <tr>
            <td>001</td>
            <td>,</td>
            <td>Snack</td>
        </tr>
        <tr>
            <td>002</td>
            <td>,</td>
            <td>Beverage</td>
        </tr>
    </table>
    </div>
</div>
